.nave {
   background-color: #04404abd;
}
body {
  background-image: url(../img/bg.png);
  background-repeat: repeat-x repeat-y;
  background-position: center;
  background-attachment: fixed;
} 
div.bg {
  background-color: #04404abd;
  height: 150px;
}
div.menu ul {
   list-style: none;
   border-radius: 5px;
   border: 2px solid #ffffff8f;
   background-color: #13506dcc;
   color: white;
}
div.conteudo {
  border: 2px solid #ffffff8f;
  border-radius: 10px;
  background-color: #023531c9;
  color: white;
}
div.rodape {
  border: 2px solid #ffffff8f;
  border-radius: 10px;
  background-color: #023531c9;
  color: white;
  height: 130px;
  position: relative;
  display: flex;
  /*margin-left: 1%;*/
  margin-top: 1%;
}
